body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.flex-container{
  background-image: url(/assets/bg-page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  
}

.card-container{
  display: flex;
  width: 900px;
  height: 600px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgb(0, 0, 0, 50%);
}


/*///////LADO ESQUERDO*/

.card-container-left{
  background-image: url(/assets/bg-netflix.jpg);
  background-position: center;
  background-size: cover;
  height: 600px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  backdrop-filter: blur(10px);
}

.card-container__content-left h1{
  margin-bottom: 0;
}

.card-container__content-left p{
  font-size: 20px;
}

.card-container__content-left{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: white;
  
  box-sizing: border-box;
  padding: 0 20px
}

.logo{
  max-width: 250px;
}

.social-google a{
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 600;
  background-color: red;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 20%;
  box-shadow: 3px 3px 3px rgb(0, 0, 0, 20%);
  transition: 0.3s;
}

.social-google a:hover{
  background-color: white;
  color: red;
}

/*///////LADO DIREITO*/

.card-container-right{
  background-color:rgba(255, 255, 255, 40%);
  backdrop-filter: blur(30px);
  height: 600px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card-container__content-right{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  
  box-sizing: border-box;
  padding: 0 20px;

  color: white;
}

.card-container__content-right h2{
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 1rem;
  color: white;
}

.card-container__content-right span{
  line-height: 1.2rem;
  margin-bottom: 1rem;
  color: white;
  transition: 0.5s;
}

.card-container__content-right span a{
 font-weight: bold;
 color: white
}

.card-container__content-right span a:hover{
  color: black;
 }
 

.text-field{
  list-style: none;
}

.form{
  display: block;
}

form input[type=text],
form input[type=password]{
  width: 80%;
  height: 30px;
  border: 1px solid #ccc;
  margin: 10px 0;
  border-radius: 5px;
  padding: 0 0 0 10px;
}

.botao__entrar{
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  background-color: red;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  border:none;
  width: 50%;
  box-shadow: 3px 3px 3px rgb(0, 0, 0, 20%);
  transition: 0.3s;
}

.botao__entrar:hover{
  background-color: white;
  color: red;
  cursor:pointer;
}




